
.main {
    box-shadow: 0 7px 10px rgba(0,0,0,0.12), 0 1px 20px rgba(0,0,0,0.24);
    border-radius: 5px;
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 600px;
}

.content {
    padding: 5%;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.links a {
    color: #555;
}

@media (prefers-dark-theme: dark) {
    .links a {
        color: #ccc;
    }

    .main {
        background: #252525;
    }
}

@media and (max-width: 500px) {
    .main {
        width: 100% !important;
        height: 100%;
    }

    .main img {
        height: 50%;
    }
}